@using WebCoreApp.Extensions;


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="~/admin-side/img/favicon.png">

    <title>Shop Mart</title>

    <!-- Bootstrap CSS -->
    <link href="~/admin-side/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/admin-side/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <link href="~/css/calandar.css" rel="stylesheet" />
    <!-- font icon -->
    <link href="~/admin-side/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/admin-side/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/admin-side/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/admin-side/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/admin-side/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/admin-side/css/owl.carousel.css" type="text/css">
    <link href="~/admin-side/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/admin-side/css/fullcalendar.css">
    <link href="~/admin-side/css/widgets.css" rel="stylesheet">
    <link href="~/admin-side/css/style.css" rel="stylesheet">
    <link href="~/admin-side/css/style-responsive.css" rel="stylesheet" />
    <link href="~/admin-side/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/admin-side/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!-- container section start -->



        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="logo">Shop <span class="lite">Mart</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    @await Html.PartialAsync("_LoginPartial")
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            @await Component.InvokeAsync("SideBar")
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
                <!--main content end-->
            </section>
            <!-- container section start -->
        </section>
        <!-- javascripts -->
        <script src="~/admin-side/js/jquery.js"></script>
        <script src="~/admin-side/js/jquery-ui-1.10.4.min.js"></script>
        <script src="~/admin-side/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="~/admin-side/js/jquery-ui-1.9.2.custom.min.js"></script>
        <!-- bootstrap -->
        <script src="~/admin-side/js/bootstrap.min.js"></script>
        <!-- nice scroll -->
        <script src="~/admin-side/js/jquery.scrollTo.min.js"></script>
        <script src="~/lib/jquery.nicescroll/jquery.nicescroll.js"></script>
        <!-- charts scripts -->
        <script src="~/admin-side/assets/jquery-knob/js/jquery.knob.js"></script>
        <script src="~/admin-side/js/jquery.sparkline.js" type="text/javascript"></script>
        <script src="~/admin-side/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="~/admin-side/js/owl.carousel.js"></script>
        <!-- jQuery full calendar -->

        <script src="~/admin-side/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="~/admin-side/js/fullcalendar.min.js"></script>
        <!-- Full Google Calendar - Calendar -->
        <script src="~/admin-side/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
        <!--script for this page only-->
        <script src="~/admin-side/js/calendar-custom.js"></script>
        <script src="~/admin-side/js/jquery.rateit.min.js"></script>
        <!-- custom select -->
        <script src="~/admin-side/js/jquery.customSelect.min.js"></script>
        <script src="~/admin-side/assets/chart-master/Chart.js"></script>

        <!--custome script for all page-->
        <script src="~/admin-side/js/scripts.js"></script>
        <!-- custom script for this page-->
        <script src="~/admin-side/js/sparkline-chart.js"></script>
        <script src="~/admin-side/js/easy-pie-chart.js"></script>
        <script src="~/admin-side/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/admin-side/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/admin-side/js/xcharts.min.js"></script>
        <script src="~/admin-side/js/jquery.autosize.min.js"></script>
        <script src="~/admin-side/js/jquery.placeholder.min.js"></script>
        <script src="~/admin-side/js/gdp-data.js"></script>
        <script src="~/admin-side/js/morris.min.js"></script>
        <script src="~/admin-side/js/sparklines.js"></script>
        <script src="~/admin-side/js/charts.js"></script>
        <script src="~/admin-side/js/jquery.slimscroll.min.js"></script>
        <script>
            //knob
            $(function () {
                $(".knob").knob({
                    'draw': function () {
                        $(this.i).val(this.cv + '%')
                    }
                })
            });
            //carousel
            $(document).ready(function () {
                $("#owl-slider").owlCarousel({
                    navigation: true,
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    singleItem: true
                });
            });
            //custom select box
            $(function () {
                $('select.styled').customSelect();
            });
            /* ---------- Map ---------- */
            $(function () {
                $('#map').vectorMap({
                    map: 'world_mill_en',
                    series: {
                        regions: [{
                            values: gdpData,
                            scale: ['#000', '#000'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    backgroundColor: '#eef3f7',
                    onLabelShow: function (e, el, code) {
                        el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                    }
                });
            });
        </script>
        <script src="~/lib/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="~/lib/mustache/mustache.js"></script>

        <script src="~/lib/Chart.js/dist/Chart.js"></script>
        <!-- jQuery Sparklines -->
        <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/notifyjs/dist/notify.js"></script>
        <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>


        <script src="~/app/shared/tedu.js"></script>
        @RenderSection("Scripts", required: false)
</body>

</html>